* 
{
  font-family: "Cinzel", "Times New Roman", "serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


header {
  border: 1px solid rgb(247, 117, 10);
  display: flex;
  align-items: center;
  background-color:rgba(255, 228, 196, 0.8);
  box-shadow: 0px 5px 5px rgba(129, 127, 126, 0.223);
  justify-content:space-evenly;
  position: fixed;
  height: 8rem;
  padding-left: 6rem;
  padding-right: 4rem;
  width: 100%;
}

@media (max-width: 768px) {
  header {
  border: 1px solid rgb(247, 117, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(255, 228, 196, 0.8);
  box-shadow: 0px 5px 5px rgba(129, 127, 126, 0.223);
  justify-content:center;
  position: fixed;
  padding: 1rem;
  width: 100%;
}
  
}

#logo {
  height:6rem;
  padding: 10px 0px 10px 20px;
}


nav ul {
  list-style: none;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content:space-around;
  width: 100%;
  gap: 3rem;
  
 
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: medium;
  font-weight:200;
}

p {
  line-height: 2;
  text-align: center;
  font-weight: 420;
}

#about-us {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  padding: 4rem;
  background-color: antiquewhite;
  align-items: center;
  

}

main {
  padding-top: 8rem;
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  
}

#cover-slideshow {
  
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: changeCover 20s ease-in-out infinite alternate;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.493);
  
  

}

@keyframes changeCover {
  0% {
    background-image: url('images/cover-try(1).jpeg');
  }

  30% {
    background-image: url('images/cover-try(1).jpeg');
  }
  70% {
    background-image: url('images/image-2.JPEG');
  }
  100% {
    background-image: url('images/image-2.JPEG');

  }
}

.fotos {
  max-width: 40vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(120, 118, 116, 0.8);
  cursor: pointer;
}

#flex-1 { /* About us section, column placement h2 and p */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  
}

html {
  scroll-padding-top: 8rem;
}

h2 {
  text-align:center;
  font-weight: bold;
  margin-top: 30px;
}


/*this one is for text on the left and image on right*/
.left-side{
  display: flex;
  margin: 6rem;
  align-items: center;
  
 
}

@media (max-width:768px) {
  .left-side{
  display: flex;
  margin: 6rem;
  align-items: center;
  flex-direction: column;
  }
}



.text-box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  text-align: center;

}

/* this one is for text on the right and image on left*/
.right-side{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 6rem;
}
@media (max-width:768px) {
  .right-side{
  display: flex;
  margin: 6rem;
  align-items: center;
  flex-direction: column;
  }
}

#contact-us {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#contact-us-separation{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 6rem 3rem 6rem;
  text-align: center;
}



form{
 display: flex; 
 flex-direction: column;
 gap:10px;
 padding: 20px;
 max-width: 100%;
 
}

.label-1{
  display: flex;
  align-items: center;
  object-fit: cover;
}

#finalfoto{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(120, 118, 116, 0.8);
}

label, select{
  width: 200px;
  height: 45px;
  text-align: right;
  padding-right: 10px;
  line-height: 45px; 
}

input, select{
  flex:1;
  border-radius: 10px;
  
}

#formfot{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin: 10px 60px 10px 60px;
}

@media (max-width: 768px) {
  #formfot {
    flex-direction: column; /* Arranges items in column in smaller screens */
    max-width: 100%;
  }
}

#submit-button{
  width: 63%;
  align-self:flex-end;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"] {
  text-align: center;
}

.left-side figure, figcaption,
.right-side figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#call-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;

}

#call-list li{
  list-style: none;
}

#call-list-space{
  display: flex;
  flex-direction: column;
  gap:1rem;
  font-size: larger;
  text-align: center;
}

iframe{
  margin-bottom: 20px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(120, 118, 116, 0.8);
}

.bold-list{
  text-decoration: underline;
  font-weight: bold;
}

a:hover{
  color: blue;
  text-decoration: solid underline;
  font-weight: bolder;
}


input:hover, 
select:hover,
textarea:hover{
  opacity: 0.8;
  cursor: pointer;
}

footer{
  box-shadow: 0px -5px 5px rgba(120, 118, 116, 0.8);
  background-color: rgb(242, 255, 161);
}

figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


#light-box{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.525);
  display: none;
  position: fixed;
  z-index: 9999;
  top:0;
  left: 0;
  justify-content: center;
  align-items: center;
}

#light-box-image{
  max-width: 60vw;
  max-height: auto;
  border-radius: 10px;

}

#close-btn{
  color: white;
  font-weight: 900;
  font-size: 50px;
  position: absolute;
  top: 20px;
  right: 60px;
  cursor: pointer; 
}

#next-button{
  color: white;
  font-weight: 900;
  font-size: 50px;
  position: absolute;
  top: 50%;
  right: 50px;
  cursor: pointer; 

}

#previous-button{
  color: white;
  font-weight: 900;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50px;
  cursor: pointer; 
}

.hidden-fotos{
  display: none;

}


